**/package/x86_64/*.deb
**/package/aarch64/*.deb

**/package/x86_64/*.rpm
**/package/aarch64/*.rpm

**/package/x86_64/*.run
**/package/aarch64/*.run

**/package/x86_64/*.tar.gz
**/package/aarch64/*.tar.gz

**/package/x86_64/*.zip
**/package/aarch64/*.zip
